
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

:root {

    /* Primary Colours */
    --main-background: hsl(233, 47%, 7%);
    --card-background: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);

    /* Neutral Colours */
    --main-heading: hsl(0, 0%, 100%);
    --main-paragraph: hsla(0, 0%, 100%, 0.75);
    --stat-headings: hsla(0, 0%, 100%, 0.6);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    
    background-color: var(--main-background);
    font-size: 15px;
    color: var(--main-paragraph);
}

#container {
    height: 100vh;
    /* width: 375px; */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

}

.card {
    display: flex;
    flex-flow: column;
    align-items: center;

    height: 780px;
    width: 330px;
    margin-bottom: 30px;

    background-color: var(--card-background);
    border-radius: 10px;
}


#card-image {
    flex: 0 0 240px;
    width: 100%;

    border-radius: 10px 10px 0 0;

    background-blend-mode: multiply;
    background-color: var(--accent);
    background-image: url(/images/image-header-mobile.jpg);
    background-size: cover;
}

#card-components {
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    /* gap: 20px; */
    height: 100%;
    width: 100%;
}

#card-main-section {
    flex: 1 0 auto;
}

.card-header {
    color: var(--main-heading);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;

    padding: 30px 15px 15px 15px;
    text-align: center;
}

#header-colour {
    color: var(--accent);
}

.card-header-text {
    color: var(--main-paragraph) ;
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
    padding: 0px 25px;
    font-size: 1rem;
    line-height: 1.8em;
}

.card-stat-section {
    flex: 2 0 auto;
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
}

.card-stat {
    text-align: center;
    flex: 1 0 auto;
}

.card-stat-heading {
    color: var(--main-heading);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 5px;
}

.card-stat-text {
    text-transform: uppercase;
    color: var(--stat-headings);
    font-family: 'Lexend Deca', sans-serif;
}

.attribution {
    text-align: center;
}

.attribution br {
    margin-bottom: 10px;
}

.attribute-link {
    text-decoration: none;
    color: var(--accent);
}






@media screen and (min-width: 1440px) {

    .card {
        flex-flow: nowrap row-reverse;
    
        height: 450px;
        width: 1100px;

    }

    #card-image {
        flex: 0 0 50%;
        height: 100%;
        border-radius: 0 10px 10px 0;
        background-image: url("../images/image-header-desktop.jpg");
    }


    #card-components {
        flex-flow: nowrap column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    #card-main-section {
        flex: 0 0 300px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .card-header {
        width: 70%;
        text-align: start;
        font-size: 2.2rem;
        padding: 0;
        padding-top: 10px;
        margin-bottom: 20px;

    }
    
   
    .card-header-text {
        width: 70%;
        text-align: start;
        padding: 0;
    }
    

    .card-stat-section {
        width: 70%;
        height: 150px;
        flex-flow: row;
        align-items: stretch;
    }

    .card-stat-heading {
        text-align: start;
    }

    .card-stat-text {
        text-align: start;
    }
}